
.faq-inf,
.contacts-inf,
.wishes-container {
    width: 100%;
    max-width: 1025px; 
    

    margin: 0;
    margin-left: 60px; 
    

    padding: 0 0 40px 0; 
    
    text-align: left; 
}


.faq-inf h2,
.contacts-inf h2,
.wishes-container h2 {
    text-align: center;
    font-family: var(--font-main);
    font-size: 40px;
    font-weight: 600;
    color: #484A4F;
    

    margin-top: 0;      
    margin-bottom: 60px;
    padding-top: 10px;
}

.faq-inf ol {
    list-style: decimal;
    
    list-style-position: inside; 
    
    padding-left: 0;
}

.faq-inf li {
    font-family: var(--font-main);

    font-weight: 700;
    font-size: 20px;
    color: #484A4F;
    
    margin-bottom: 40px;
}

.faq-inf h3 {
    display: inline;
    
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    
    margin-left: 8px;
}

.contacts-inf h3 {
    margin-top: 20px;
}

.faq-inf p {
    margin-top: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #484A4F;

    padding-left: 0;
    margin-left: 0;
}

.side-question {
    padding-left: 24px; 
    margin-top: 20px;
}

.side-question ol {
    list-style: decimal;
    padding-left: 15px;
}

.side-question li {
    font-family: var(--font-main);

    font-weight: 600;
    font-size: 18px;
    color: #828282;
    
    line-height: 2; 
    
    transition: color 0.2s;
}

.side-question a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
}

.side-question li:hover {
    color: #484A4F;
}

.side-link a:hover {
    color: #484A4F;
}

.contacts-inf p{
    font-weight: 600;
    font-size: 18px;
    color: var(--text-main);
}

.tel a{
    font-weight: 600;
    font-size: 18px;
    color: var(--text-main);
}
